@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --clr-main: #167296;
    --clr-main-light: #39b0df;
    --clr-main-buy: #319e16;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
    --clr-violet: #a348be;

}

body{
    background-color: var(--clr-main);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-main);

}

aside{
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.logo{
    font-weight: 900;
    font-size: 1.3rem;
}

.logotipe{
    padding: 1rem;
}

.buscador{
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 900;
    margin-left: .5rem;
}

.buscador input{
    padding: 7px 0 7px 0;
    margin-left: .8rem;
    border-radius: .2rem;
    text-align: center;
    border: 1px solid var(--clr-white);
    margin-bottom: 4rem;
}


.boton-menu{
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 900;
    padding: 1rem;
    width: 100%;

}
.boton-menu.active{
    background-color: var(--clr-white);
    color: var(--clr-main);
    border-radius: 1rem 0 0 1rem;
    position: relative;
}

.boton-menu.active::before{
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .6rem;
    box-shadow: 0 1rem 0 var(--clr-white) ;
}

.boton-menu.active::after{
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .6rem;
    box-shadow: 0 -1rem 0 var(--clr-white) ;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: .7rem;    
}

.boton-categoria > i.bi-hand-index-thumb-fill, .boton-categoria > i.bi-hand-index-thumb{
    transform: rotateZ(90deg);
}

.boton-carrito{
    margin-top: 2rem;
}

.numerito{
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: 0.15rem .25rem;
    border-radius: 0.25rem;
}

.boton-carrito.active .numerito{
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.texto-footer{
    color: var(--clr-main-light);
    font-size: 1rem;

}

main{
    background-color: var(--clr-white);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;

}

.main2{
    margin: 1rem;
}

.header-detalles{
    background-color: var(--clr-main);
    padding: 1rem;
    padding-left: 2rem;
    padding-top: 2rem;
}

.volver-index{
    padding: .7rem;
    margin-left: 2rem;
    background-color: var(--clr-violet);
    color: var(--clr-white);
    border-radius: .5rem;
    font-weight: 900;
    cursor: pointer;
    border: 1px solid var(--clr-violet);
}

.volver-index:hover{
    background-color: white;
    color: var(--clr-violet);

}

.titulo-principal{
    color: var(--clr-main);
    margin-bottom: 2rem;
}

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen{
    max-width: 100%;
    border-radius: 1rem;
}

.producto-detalles{
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.producto-titulo{
    font-size: 1.2rem;

}

.producto-vermas{
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: 0.4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color .2s, color .2s;
    font-weight: 900;
}

.producto-vermas:hover{
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.producto-agregar{
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main-buy);
    padding: 0.4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color .2s, color .2s;
    font-weight: 900;
}

.producto-agregar:hover{
    background-color: var(--clr-main-buy);
    color: var(--clr-white);
}

/* CARRITO */
.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio, .carrito-comprado{
    color: var(--clr-main);
    font-size: 28px;
    text-align: center;
}

.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.detalles{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.detalles-img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.detalles-img img{
    max-width: 100%;
    max-height: 320px;
}

.contenedor-detalle{
    border-radius: 1rem;
}

.contenedor-detalle div{
    margin: 1rem;
    display: flex;
    align-items: start;
}

.contenedor-detalle button{
    padding: .6rem;
    background-color: var(--clr-main-buy);
    color: var(--clr-white);
    border-radius: .5rem;
    cursor: pointer;
    font-size: larger;
    font-weight: 900;
    border: 1px solid var(--clr-main-buy);
}

.contenedor-detalle button:hover{
    background-color: var(--clr-gray);
    color: var(--clr-main-buy);
}


.carrito-producto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: 0.5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen{
    max-width: 10%;
    border-radius: 1rem;

}
.carrito-producto-cantidad{
    text-align: center;
}

.detalle-producto-imagen{
    max-width: 50%;
    border-radius: 1rem;
    border: 1px solid var(--clr-white);
}

.anchor-titulo{
    color: var(--clr-white);
    text-decoration: none;
    cursor: pointer;
}

.carrito-producto small{
    font-size: 1rem;
    font-weight: 900;
}

.contenedor-detalle small{

    font-size: 1.7rem;
    font-weight: 900;
}

.contenedor-detalle small p{
    font-size: 1.2rem;
    font-weight: 100;
}


.carrito-producto-eliminar{
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
    font-size: 20px;
}

.carrito-acciones{
    display: flex;
    justify-content: space-between;

}

.carrito-acciones-vaciar{
    border: 0;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: 1rem;
    border-radius: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 900;

}

.carrito-acciones-vaciar:hover{
    background-color: var(--clr-red);
    color: var(--clr-white);
}

.carrito-acciones-derecha{
    display: flex;

}

.carrito-acciones-total{
    display: flex;
    border: 0;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: 1rem;
    border-radius: 1rem 0 0 1rem;
    text-transform: uppercase;
    font-weight: 900;
}

.carrito-acciones-comprar{
    border: 0;
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: 1rem;
    border-radius: 0 1rem 1rem 0;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 900;
}

.carrito-acciones-comprar:hover{
    background-color: var(--clr-main-buy);
    color: var(--clr-white);
}


.disabled{
    display: none;
}

.mobile{
    display: none;

}

.close-menu{
    display: none;
}



/* Medias Querys */

@media screen and (max-width: 950px) {
    .contenedor-productos{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .producto-titulo{
        font-size: 1rem;
    }
    
}

@media screen and (max-width: 885px) {
    .contenedor-productos{
        grid-template-columns: 1fr 1fr;
    }
    .producto-titulo{
        font-size: 1rem;
    }
    .buscador{
        margin: 0;
    }
    
}


@media screen and (max-width: 675px) {
    .wrapper{
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    aside{
        position: fixed;
        z-index: 9;
        background-color: var(--clr-main);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
    }

    .aside-visible{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .boton-menu.active::before , .boton-menu.active::after{
        display: none;
    }

    main{
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .contenedor-productos{
        grid-template-columns: 1fr 1fr;
    }

    .producto-titulo{
        font-size: 1rem;
    }

    .producto-agregar, .producto-vermas{
        padding: 0.2rem;
    }

    .mobile{
        display: flex;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
    }

    .mobile .logo{
        color: var(--clr-white);
    }

    .open-menu, .close-menu{
        background-color: transparent;
        color: var(--clr-gray);
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }
    .close-menu{
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: var(--clr-red);
    }

    .carrito-producto{
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0.5rem;
    }
    
    .carrito-producto-subtotal{
        display: none;
    }

    .carrito-producto-titulo{
        font-size: 13px;
    }

    .detalle-producto-titulo{
        font-size: 20px;
    }

    .carrito-acciones{
        flex-wrap: wrap;
        row-gap: 1rem;
    }

}

@media screen and (max-width: 450px) {
    .contenedor-productos{
        grid-template-columns: 1fr;
    }
    .producto-titulo{
        font-size: 1rem;
    }
    
}
